Your response was not valid. Cards are represented with a capital letter for the color followed by a number, without a space in between. Your answer has to have this structure: "I PLAY: card". Choose a card from your hand to play.
