This round is over. All cards were played.

This is the players predictions:
$PLAYER_PREDICTIONS_LAST_ROUND$

This is, how many tricks every player won:
$PLAYER_TRICKS$

Because of the difference of predictions and tricks, every player receives points. The point table looks as follows:
$LEADERBOARD_GAME$
