A new round starts with one additional card.

Let us start:
You're playing with $num_players other players, and you're player number $player_position. 
Each player gets $num_cards cards, and the rest stay in the deck. I've shuffled the cards. 
The trump card is $trump_card, thereby the trump color is $trump_color.

You've been dealt the following cards: $player_hand. 

These predictions of other players have already been made: $player_predictions

Now you have to predict how many tricks you will get. What's your prediction?
Anwer in this format: "PREDICTION: number" Omit any other text.
