This round is over. All cards were played.

This is the players predictions: $PLAYER_PREDICTIONS_END 
Because of the difference of predictions and tricks, every player receives points.
The point table looks as follows: $LEADERBOARD_POINTS

########################################################################################################
